.Blog {
  text-align: justify;
  text-justify: inter-word;
  background-color: white;
  line-height: 1.5;
}

.Blog :global(.title),:global(.subtitle) {
  text-align: left !important;
}

.Blog :global(.title) a {
  text-decoration: none !important;
}

.BlogHeader {
  padding: 20px;
  color: white;
  background: color(white a(5%));
}

.BlogHeader li::before {
  content: '> ';
}

.BlogHeader li {
  text-transform: uppercase;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: color(white a(75%));
}

.BlogHeader span {
  color: white;
}

.BlogHeader li a {
  margin-left: 10px;
}

.Wrapper {
  padding: 30px;
  box-sizing: border-box;
}

.PostBody > h1, .PostBody > h2, .PostBody > h3 {
  margin-top: 10px;
}

.Blog h3 {
  font-weight: normal;
  font-style: italic;
}

.Blog ol {
  list-style-type: decimal;
  margin-left: 30px;
  line-height: 1.5;
}

.Blog ul {
  list-style-type: square;
  margin-left: 30px;
}

.Blog a {
  color: darkcyan;
  text-decoration: underline;
}
