.Blog {
  text-align: justify;
  text-justify: inter-word;
  background-color: white;
  line-height: 1.5;
}

.Blog :global(.title),:global(.subtitle) {
  text-align: left;
}

.Blog :global(.title) a {
  text-decoration: none;
}

.BlogHeader {
  padding: 30px;
  color: white;
  background: color(white a(5%));
}

.BlogHeader li::before {
  content: '> ';
}

.BlogHeader li {
  font-size: 14pt;
  text-transform: uppercase;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: color(white a(75%));
}

.BlogHeader span {
  color: white;
}

.BlogHeader li a {
  margin-left: 10px;
}

.BlogHeader h1,h2,h3 {
  line-height: 1.0;
}

.Wrapper {
  padding: 30px;
  box-sizing: border-box;
}

.Blog h1,h2,h3 {
  line-height: 1.3;
}

.Blog h1 {
  font-size: 25pt;
}

.Blog h2 {
  font-size: 16pt;
}

.Blog h3 {
  font-size: 12pt;
  font-weight: normal;
  font-style: italic;
}

.Blog ol {
  list-style-type: decimal;
  margin-left: 30px;
  line-height: 1.5;
}

.Blog ul {
  list-style-type: square;
  margin-left: 30px;
}

.Blog a {
  color: darkcyan;
  text-decoration: underline;
}
