.News {
    padding: 30px;
    color: white;
    background: color(white a(5%));
}

.NewsItem {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 5px 0px;
    color: color(white a(60%));
}

.NewsItem:first-child {
    color: white;
}

.NewsItemBody {
    flex: 1;
    padding-left: 20px;
}

.NewsItem h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    font-weight: bold;
}

.NewsDate {
    margin: 0px;
    font-style: italic;
}
