:root {
  --dim: color(#232839 a(100%));
}

strong {
  font-weight: normal;
  font-style: italic;
}

p {
  line-height: 1.5;
}

h1 {
  text-transform: uppercase;
  font-size: 25pt;
  color: white;
}

h3 {
  margin-top: 15px;
}

.CastShadow {
  box-shadow: 0px 0px 10px color(var(--dim) a(10%));
}

.Content {
  background-color: white;
  text-align: justify;
  padding: 20px;
}

.SectionWrapper h1 {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.Section {
  composes: CastShadow;
  composes: Content;

  width: 100%;
  margin: 15px auto;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
}

.Section h1 {
  position: absolute;
  top: -37px;
  left: 30px;
  font-size: 25pt;
  color: white;
}

.TransparentSection {
  display: flex;
  flex-direction: row;
  padding: 0px;
  composes: Section;
  background: transparent;
  border: none;
  box-shadow: none;
}

.HCardSection {
  display: flex;
  padding: 0px;
  flex-direction: row;
  composes: Section;
  background: transparent;
  border: none;
  box-shadow: none;
}

.Card {
  composes: CastShadow;
  margin-right: 30px;
  flex: 1;
}

.Card:last-child {
  margin-right: 0px;
}

.WhiteCard {
  composes: Card;
  composes: Content;
}

.Section h1 {
}

.Subsection {
}

.Enum li {
}

.Profile {
  display: flex;
  padding: 0px 0px;
  max-width: 500px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex-wrap: wrap;
  gap: 20px;
}

.Profile a {
  display: inline-block;
}

.Me {
  padding: 0px !important;
}

.MeName {
  padding: 30px 30px 0px ;
  color: white;
  font-size: 30px;
}

.Profile > * {
  flex: 0;
  padding: 0px 30px;
}

.Fill {
  padding: 0px;
}

.Profile p {
  text-align: justify;
}

.Profile h3 {
}

.ProfilePic {
  composes: Fill;
  width: 100%;
  height: auto;
}

td {
  padding: 2px 10px;
}

.FunWhen, .FunWhere, .FunWhat, .FunHow {
  font-size: 10pt;
  text-transform: uppercase;
  text-align: left;
}

.FunWhat {
  font-weight: bold;
  color: darkcyan;
}

.FunHow {
  font-style: italic;
}
.FunHow:before {
  font-style: italic;
  content: "(";
}
.FunHow:after {
  font-style: italic;
  content: ")";
}

.Keywords {
  display: flex;
  margin: 20px 0px;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px 10px;
  border-radius: 5px;
}

.Keywords > span,
.Keywords > p {
  white-space: nowrap;
  background-color: color(darkcyan a(30%));
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid darkcyan;
  font-size: 12px;

  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.Keywords > span:hover,
.Keywords > p:hover {
  background-color: color(darkcyan a(50%));
}

.Keywords span {
  flex: 0;
  text-transform: uppercase;
  font-size: 9pt;
}

.Keywords p {
  flex-basis: content-max;
  display: block;
}

.Projects h2 {
  font-size: 11pt;
}

.Projects h3:before {
  content: "↑ ";
}

.Projects h3 {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', serif;
  font-weight: normal;
  font-size: 10pt;
}

.Projects img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 3px;
  border: 1px solid black;
}

.ProjectCarousel {
  display: flex;
  flex-direction: row;
}

.ProjectCarousel > div {
  flex: 0;
  margin-right: 10px;
}
