@import 'style/variables';

.columns {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex: 1;
    padding-top: 50px;
}

.left {
    composes: column;
    flex-shrink: 2;

    padding-right: 30px;
    padding-left: 30px;

    text-align: right;
}

.right {
    composes: column;
    background-color: white;
    color: var(--base);
    flex-grow: 2;
}

.Section > h2, .Section > h3 {
    padding-left: 30px;
    padding-right: 30px;
}

.SectionTitle {
    width: 100%;
    background-color: #eee;

    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid #ddd;
}

.PublicationsSection {
    composes: Section;
}

.PubYear {
    composes: SectionTitle;
    background-color: #fefefe;
    font-size: 25pt;
}
