@import 'style/variables';

.columns {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
}

.column {
    flex: 1;
    padding-top: 50px;
}

.left {
    composes: column;
    flex-shrink: 2;

    padding-right: 30px;
    padding-left: 30px;

    text-align: right;

    background: transparent;
    color: #eee;
}

.right {
    composes: column;
    border-left: 1px solid color(white a(10%));
    flex-grow: 2;
    color: black;
    padding-top: 0px;
}

.Section {
    border-bottom: 1px solid #ddd;
}

.Section > h2, .Section > h3 {
    padding-left: 30px;
    padding-right: 30px;
}

.SectionTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 25pt;
    background-color: white;

    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    border-style: solid;
    border-color: #ddd;
    border-width: 0px 0px 1px 0px;
}

.PubYear {
    composes: SectionTitle;
    background-color: #fefefe;
    font-size: 20pt;
}

.Menu {
    display: flex;
    flex-flow: row wrap;
}

.Menu li {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;

    transition-property: background-color color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

    background-color: color(var(--base) tint(10%));
    color: white;

    border-right: 1px solid var(--base);
    border-bottom: 1px solid var(--base);

    height: 40pt;
    line-height: 40pt;
    vertical-align: middle;
    padding: 0;
}

.Menu li:hover {
    background-color: color(var(--base) tint(20%));
}

.Menu li a {
    flex: 1;
    padding: 0 30px;
}
